<!DOCTYPE HTML>
<html>

<head>
    <title>Login_Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <script>
        window.onload = function () {
            success();
        }
        function success() {
            var data = {
                status : 1,
                message : '로그인 성공',
                token: JSON.stringify("<%= data.token %>")
            }
            window.ReactNativeWebView.postMessage(JSON.stringify(data));
        } 
    </script>
</body>

</html>