<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        body>article {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        .pc {
            display: none;
            font-size: 0.4em;
            font-weight: normal;
            color: red;
        }
    </style>
    <title>큐마켓 관리자</title>
</head>

<body>
    <div style=" display:flex; flex:1; align-content: center;">
        <input 
            style="background-color: #E7713F; color: white; border:none; padding:20px; margin-right: 10px; font-size: larger;" 
            type="button" 
            value="낱개 등록" 
	    onclick="move_enroll('/manager/<%= data.partner_idx %>/enroll', this)"/>
        <input 
            style="background-color: #E7713F; color: white; border:none; padding:20px; margin-right: 10px; font-size: larger;" 
            type="button" 
            value="일괄 등록" 
            onclick="move_enroll('/manager/<%= data.partner_idx %>/enroll_excel', this)"/>
        <input 
            style="background-color: #E7713F; color: white; border:none; padding:20px;  font-size: larger;" 
            type="button" 
            value="할인상품 등록"
            onclick="move_enroll('/manager/<%= data.partner_idx %>/enroll_event', this)"/>
    </div>
    <article>
        <iframe id="content" src="/manager/<%= data.partner_idx %>/enroll"></iframe>
    </article>

    <script>
        function move_enroll(link, obj) {
            var clicked = document.getElementsByClassName('clicked')
            if(clicked.length != 0) {
                clicked[0].classList.remove('clicked');
                // for(let i=0;i<clicked.length; i++) {
                //     console.log(clicked[0]);
                // }
                // clicked.map(value => value.classList.remove('clicked'));
            }
            document.getElementById('content').src = link;
            obj.classList.add('clicked');
        }
    </script>
</body>

</html>
