<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.485.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <title>큐마켓 관리자</title>
    <style>
        .input-file-button {
            padding: 6px 25px;
            background-color: #E0713F;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div style="display: flex; flex-direction: row;">
        <h1>상품 일괄 등록<span style="font-size: 12px; color: #E7713F;">  *PC에 최적화 되어 있습니다.</span></h1>
    </div>
    <div>
        <a style="width: 15%; font-size: medium;  margin-right: 10px;">엑셀 파일 첨부</a>
        <label class="input-file-button" for="product_excel">파일 첨부</label>
        <input onchange="onfilechange(this, 'product_excel_name')" style="flex:1; display:none;" type="file"
            name="excel" id="product_excel" accept=".xlsx">
        <input type="text" disabled="disabled" style="width:50%; font-size: medium; margin:20px; padding:10px;"
            id="product_excel_name" value=""></input>
    </div>
    <input name="excel"
        style="background-color:#E0713F; border:none; color:white; font-size: large; padding: 10px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;"
        type="button" onclick="sendExcelFile('<%= data.partner_idx %>')" value="상품 등록하기" />
    <script src="/javascripts/myScript.js"></script>
</body>

</html>