<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.485.0.js"></script>
    <title>큐마켓 관리자</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }
        /* Dropdown Button */
        .dropbtn {
            background-color: #E7713F;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            align-self: center;
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            overflow-y: scroll;
            height:500px;
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            display: flex;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #E0713F;}
        
        table {
            width: 100%;
        }

        img {
            width: 75px;
            height: 75px;
        }

        table,
        tr,
        td,
        th {
            border-collapse: collapse;
        }

        thead {
            background-color: #F0F0F0;
        }

        th {
            padding: 10px 0px;
        }

        td {
            padding: 10px 0px;
            text-align: center;
        }

        tbody tr {
            border-bottom: 1px solid #F0F0F0;
        }

        .pc {
            display: none;
            font-size: 0.4em;
            font-weight: normal;
            color: red;
        }

        .input-file-button{
            padding: 6px 25px;
            background-color:#E0713F;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        @media screen and (max-width: 768px) {
            * {
                font-size: 0.95em;
            }

            .pc {
                display: inline;
            }
        }
    </style>
</head>

<body>
    <div style="display: flex; flex-direction: row;">
        <h1>상품 단일 등록<span style="font-size: 12px; color: #E7713F;">  *PC에 최적화 되어 있습니다.</span></h1>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium;">바코드</a>
            <input id="barcode" style="width: 50%; height: 40px; padding:10px;" type="text" placeholder="바코드 번호를 입력해 주세요"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium;">상품 이름</a>
            <input id="detail_name" style="width: 50%; height: 40px; padding:10px;" type="text" placeholder="상품 이름을 입력해 주세요"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium; flex-wrap: wrap;">상품 브랜드 이름</a>
            <input id="name"  style="width: 50%; height: 40px; padding:10px;" type="text" placeholder="상품 브랜드 이름을 입력해 주세요"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium; flex-wrap: wrap;">규격</a>
            <input id="standard"  style="width: 50%; height: 40px; padding:10px;" type="text" placeholder="규격을 입력해 주세요"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium; flex-wrap: wrap;">상품 카테고리</a>
            <div style="align-self: center;">
                <select style="width:200px; text-align-last: center;" id="parent_category" onchange="child_category_change(this)">
                    <option value="1">신선식품</option>
                    <option value="2">가정 간편식</option>
                    <option value="3">생활용품</option>
                    <option value="4">기타</option>
                    <option value="5">우리동네가게</option>
                </select>
                <select style="width:200px; text-align-last: center;" id="child_category" onchange="grand_child_category_change(this)">
                    <option value="1">정육/계란</option>
                </select>
                <select style="width:200px; text-align-last: center;" id="grand_child_category">
                    <option value="1">돼지고기</option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium;">상품 가격</a>
            <input id="price"  style="width: 50%; height: 40px; padding:10px;" type="number" placeholder="상품 가격을 입력해 주세요"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium;">상품 최초 재고</a>
            <input id="count"  style="width: 50%; height: 40px; padding:10px;" type="number" placeholder="상품 재고를 입력해 주세요(아직 없는 경우 0 입력)"/>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;">
            <a style="width: 15%; font-size: medium;">상품 연관검색어</a>
            <div style="display:flex; flex-direction: column; flex:1;">
                <input id="hashtag"  style="width: 50%; height: 40px; margin-bottom:10px; padding:10px;" type="text" placeholder="쉼표(,)로 구분 지어서 3개 까지 넣어주세요."/>
                <a style="font-size: medium; color:#E0713F; font-weight: bold; vertical-align:middle;">* 쉼표(,)로 구분 지어서 3개 까지 넣어주세요. 고객의 상품을 더 잘 찾을수 있도록 합니다.</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center; justify-content: flex-start;" method="post" enctype="multipart/form-data">
            <a style="width: 15%; font-size: medium; margin-right: 10px;">상품 메인 이미지 첨부</a>
            <label class="input-file-button" for="image_main">파일 첨부</label>
            <input onchange="onfilechange(this, 'image_main_name')" style="flex:1; display: none;" type="file" name="image_main" id="image_main" accept="image/jpeg">
            <input type="text" disabled="disabled"  style="width:50%; font-size: medium; margin:20px; padding:10px;" id="image_main_name" value=""></input>
        </div>
        <div style="display: flex; flex-direction: row; flex: 1; margin: 20px; align-items: center;" method="post" enctype="multipart/form-data">
            <a style="width: 15%; font-size: medium;  margin-right: 10px;">상품 상세 이미지 첨부</a>
            <label class="input-file-button" for="image_detail">파일 첨부</label>
            <input onchange="onfilechange(this, 'image_detail_name')" style="flex:1; display: none;" type="file" name="image_detail" id="image_detail" multiple accept="image/jpeg">
            <input type="text" disabled="disabled" style="width:50%; font-size: medium; margin:20px; padding:10px;"  id="image_detail_name" value=""></input>
        </div>
        <div style="display: flex; flex-direction: column;">
            <input style="background-color:#E0713F; border:none; color:white; font-size: large; padding: 10px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;" 
            onclick="enrollProduct('<%= data.partner_idx %>')" style="margin: 20px;" type="button" value="상품 등록하기"/>
        </div>
    </div>
    <script src="/javascripts/myScript.js"></script>
    <script>
        function onfilechange(file, id) {
            var file_val = file.files[0].name;
            if(id == 'image_detail_name') {
                file_val = file.files[0].name + " 외" + (file.files.length - 1) + "개";
            }
            document.getElementById(id).value = file_val;
        }
    </script>
    <script>
        let image_detail = [];
        let image_main = [];
        let hashtag = [];
        let category = document.getElementById("grand_child_category");

        async function enrollProduct(idx) {
            var files = document.getElementById("image_main").files;
            var filesdetail = document.getElementById("image_detail").files;
            let partner_idx = idx;
            if(document.getElementById('barcode').value == "") {
                return alert("바코드 번호를 입력해 주세요.");
            }
            if(document.getElementById('detail_name').value == "") {
                return alert("상품 이름를 입력해 주세요.");
            }
            if(document.getElementById('name').value == "") {
                return alert("상품 브랜드를 입력해 주세요.");
            }
            if(category.options[category.selectedIndex].text == "") {
                return alert("카테고리를 선택해 주세요.");
            }
            if(document.getElementById('count').value == "") {
                return alert("상품 재고를 입력해 주세요.");
            }
            if(document.getElementById('price').value == "") {
                return alert("상품 가격을 입력해 주세요.");
            }
            if (!files.length) {
                return alert("이미지를 업로드해 주세요.");
            }
            if (!files.length) {
                return alert("이미지를 업로드해 주세요.");
            }
            if(document.getElementById('hashtag').value != ""){
                hashtag = document.getElementById('hashtag').value.split(",");
                console.log('hashtag : ', hashtag);
            }
            image_main.push(document.getElementById('image_main').files[0].name);
            for(var i = 0; i < filesdetail.length; i++) {
                let file = filesdetail[i];
                image_detail.push(file.name);
            }
            if (confirm("상품을 등록하시겠습니까?")) {
                console.log(document.getElementById("image_main"))
                var dataset = {
                    img: image_main,
                    detail_image: image_detail,
                    hashtag: hashtag,
                    name: document.getElementById('name').value,
                    detail_name: document.getElementById('detail_name').value,
                    barcode: document.getElementById('barcode').value,
                    partner_idx: partner_idx,
                    category: category.options[category.selectedIndex].text,
                    standard: document.getElementById('standard').value,
                    count: document.getElementById('count').value,
                    price: document.getElementById('price').value,
                }
                console.log("dataset : ", dataset);
                var xhttp = new XMLHttpRequest()
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("상품 등록 성공");
                    }
                }
                let url = "/manager/" + partner_idx + "/enroll";
                xhttp.open("POST", url, true)
                xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhttp.send("dataset=" + JSON.stringify(dataset))

                await addPhoto();
                console.log("상품 등록 성공");
                window.location.reload()
                image_detail = [];
                image_main = [];
            }
        }

        function setCategory(name, category_idx) {
            document.getElementById('category').value = name;
            category_id = category_idx;
        }

        
        window.enrollProduct = enrollProduct;
        window.setCategory = setCategory;
    </script>
</body>

</html>