<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>큐마켓 관리자</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        body>article {
            width: 100%;
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        @media screen and (max-width: 768px) {
            * {
                font-size: 0.9em;
            }

            td:nth-child(5) {
                width: 60px;
            }

            .product_list td:nth-child(1) {
                width: 50px;
                word-break: break-all;
            }
        }
    </style>
</head>

<body>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h1>상품 결제내역</h1>
	<!--<button id="btnExport" onclick="exportTable(product_table)"> 엑셀 파일로 저장 </button>-->
        <div style="align-self: center;">
            <select style="width:200px; text-align-last: center;" id="change_status">
                <option value="100">주문요청</option>
                <option value="200">주문수락</option>
                <option value="201">주문거절</option>
                <option value="300">배송시작</option>
                <option value="400">배송완료</option>
                <option value="500">교환요청</option>
                <option value="900">환불요청</option>
                <option value="901">환불거절</option>
                <option value="902">환불수락</option>
                <option value="910">전체환불요청</option>
                <option value="911">전체환불거절</option>
                <option value="912">전체환불수락</option>
            </select>
            <input type="button" value="검색" onclick="move('<%= data.partner_idx %>', this)"></button>
        </div>
    </div>
    <article>
        <iframe id="content" src="/manager/<%= data.partner_idx %>/payment?page=1&s_status=100"></iframe>  
    </article>
    <script>
        function move(partner_idx, obj) {
            console.log(partner_idx)
            var clicked = document.getElementsByClassName('clicked')
            if(clicked.length != 0) {
                clicked[0].classList.remove('clicked');
                // for(let i=0;i<clicked.length; i++) {
                //     console.log(clicked[0]);
                // }
                // clicked.map(value => value.classList.remove('clicked'));
            }
            var status = document.getElementById("change_status");
            var URL = "/manager/" + partner_idx + "/payment?s_status=" + status.value +"&page=1"
            document.getElementById('content').src = URL;
            obj.classList.add('clicked');
        }
    </script>
</body>

</html>
